@model MetReciclaWebFinalOK.Models.ChatarraVMRest

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Chatarra</h1>

<h5>Estas seguro que deseas eliminar?</h5>
<br />
<div>
    <h6>La chatarra se eliminara del sistema</h6>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preciocompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preciocompra)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idchatarra" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver atras</a>
    </form>
</div>
