@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Met Recicla</h1>
    <br />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet magna lobortis arcu pulvinar viverra. Ut semper porttitor nibh, vel consectetur felis ultricies in. Mauris eget eleifend nunc, sit amet luctus purus. Morbi molestie vehicula quam nec luctus. Proin nec ultricies ante, non sodales mauris. Phasellus dignissim risus id sem mollis feugiat. Proin id augue eu dolor tristique mollis sit amet quis nibh. Nullam porta elit odio, vel tincidunt elit suscipit id. Quisque consectetur dolor nunc, et ullamcorper turpis accumsan facilisis. Proin euismod dignissim est ac ornare. Nunc dignissim in tellus nec molestie.
    </p>
    <p>
        Quisque ac eros in mi lobortis mattis vel vitae eros. Nam maximus lorem nibh, pulvinar interdum elit aliquam vel. In imperdiet facilisis rutrum. Morbi ac libero risus. Praesent id arcu non ante volutpat volutpat sed et felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent non sem bibendum, vestibulum lectus et, porttitor sapien. Morbi quis pretium orci, sed dignissim arcu. Sed eu facilisis est. Praesent orci neque, rutrum ut viverra ac, congue quis velit.
    </p>
    <p>
        Etiam facilisis, ligula a bibendum pharetra, ligula justo luctus massa, nec finibus odio eros in magna. Donec tortor lorem, bibendum sed faucibus id, pretium at erat. Nunc vitae metus sit amet neque iaculis commodo et non dui. Aliquam ut quam pellentesque, porttitor turpis vitae, dapibus purus. Ut fringilla elit ac mauris lobortis, eu tempor tortor feugiat. Pellentesque aliquet diam ut auctor venenatis. Suspendisse id velit in risus vulputate interdum. Donec blandit porttitor nisl eget dictum. Curabitur fringilla euismod sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam ipsum massa, consectetur a elit id, gravida hendrerit urna. Sed at sodales lacus, et faucibus risus.
    </p>
</div>
